.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.event {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  border-style: solid;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.event:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.event .name {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #FFC904;
  display: grid;
  place-content: center;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event .description {
  flex: 60%;
  display: grid;
  place-content: center;
}

.event .category {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #FFC904;
  color: black;
}

/* Add Event */
.addEventPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid #FFC904;
  border-radius: 5px;
}

.formContainer #inputAddEvent {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #ffe176;
  border-radius: 5px;
  color: black;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #FFC904;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: #FFC904;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 150px;
  height: 50px;
  cursor: pointer;
}


/* INDIVIDUAL POST */
.eventPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.eventDisplay {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.reviews {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.reviews .addReviewContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addReviewContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addReviewContainer button {
  background-color: #FFC904;
  color: white;
}

.addReviewContainer input {
  border: 2px solid #FFC904;
}

.reviews .listOfReviews {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfReviews .review {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .name,
#individual .description {
  font-size: 30px;
}

#individual .category {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: #FFC904;
  color: white;
}

.loginContainer input {
  border: 2px solid #FFC904;
}

.loginName {
  text-align: right;
  font-size: 25px;
  position: absolute;
  left: 75%;
}

.Rating {
  color: #FFC904;
}

img {
  height: 50px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.link {
  font-size: 25px;
  padding: 10px;
}

.logout {
  position: absolute;
  float: right;
  right: 0%;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

Label {
  font-size: 20px;
}